{% extends "candidate/home.html" %}
{% load static %}
{% block banner %}
{% endblock %}
{% block content %}
<head>
    <style>
        #signup .button {
                    margin: 0px 0px 10px 0px;

            }
        label {
            color: rgba(109, 113, 110, 0.99);
        }
        input {
            padding:1.5px 141px 1.5px 1px;
        }
        h3 {
            margin-left: 80px;
            margin-right: 80px;
        }

    </style>
</head>

<div class="container" id="footer1">

    <foo id="signup">
     <div >
      <div class="container text-center backgroundText">
            <h1>Better Talent Measurements</h1>
            <h4> SayOne: #ChangeTheWorld </h4>
            <br class="hiddenBelow"/>

        </div>

    <div class="row">
        <div class="headings form cold-md-6">
        <h3 style="color:#021315">Register Here</h3>
            <form action="#" method="post">
                    {% csrf_token %}


                    <label for="id_username">Username:</label>
                    <br />
                    <input type="text" name="username" autofocus maxlength="150" required id="id_username" />
                    <br />






                    <label for="id_first_name">First name:</label>
                    <br />
                    <input type="text" name="first_name" maxlength="30" id="id_first_name" />
                    <br />






                    <label for="id_last_name">Last name:</label>
                    <br />
                    <input type="text" name="last_name" maxlength="30" id="id_last_name" />
                    <br />






                    <label for="id_email">Email:</label>
                    <br />
                    <input type="email" name="email" maxlength="254" required id="id_email" />
                    <br />






                    <label for="id_password1">Password:</label>
                    <br />
                    <input type="password" name="password1" required id="id_password1" />
                    <br />






                    <label for="id_password2">Password confirmation:</label>
                    <br />
                    <input type="password" name="password2" required id="id_password2" />
                    <br />




                <br />
                <button type="submit" class="btn button" style="margin-left: 117px;background-color:#021315">Sign up</button>
            </form>
        </div></div></div>
</foo>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}




