{% extends "candidate/home.html" %}
{% load static %}
{% block banner %}
{% endblock %}
{% block content %}
<head>
    <style>
        #signup .button {
                    margin: 0px 0px 10px 0px;

            }

    </style>
</head>

<div class="container">

    <foo id="signup">
     <div >
      <div class="container text-center backgroundText">
            <h1>Better Talent Measurements</h1>
            <h4> SayOne: #ChanngeTheWorld </h4>
            <br class="hiddenBelow"/>

        </div>

    <div class="row">
        <div class="headings form cold-md-6" style="border:solid">
        <h3>Register Here</h3>
            <form action="#" method="post">
                {% csrf_token %}
                {% for field in form %}


                    {{ field.label_tag }}
                    <br />
                    {{ field }}
                    <br />

                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}

                {% endfor %}
                <br />
                <button type="submit" class="btn button">Sign up</button>
            </form>
        </div>
    </div>
            </div></div>

</foo>
{% endblock %}
{% block footer %}

{% endblock %}




